@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSsHs0Y\.scss}line{font-family:\000031}}
#tuti-twitter {
  width: 200px;
  height: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/tmp\/assetic_compassSsHs0Y\.scss}line{font-family:\000035}}
#tuti-facebook {
  width: 200px;
  height: 200px;
}
